Descargar datos de kaggle

In [1]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '.'
!chmod 600 ./kaggle.json
!kaggle competitions download -c udea-ai-4-eng-20252-pruebas-saber-pro-colombia

udea-ai-4-eng-20252-pruebas-saber-pro-colombia.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
!unzip udea*.zip > /dev/null

replace submission_example.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("train.csv")

Eliminar las columnas ID

In [4]:
df = df.drop(columns=['ID'])

In [5]:
df

,PERIODO_ACADEMICO,E_PRGM_ACADEMICO,E_PRGM_DEPARTAMENTO,E_VALORMATRICULAUNIVERSIDAD,E_HORASSEMANATRABAJA,F_ESTRATOVIVIENDA,F_TIENEINTERNET,F_EDUCACIONPADRE,F_TIENELAVADORA,F_TIENEAUTOMOVIL,E_PRIVADO_LIBERTAD,E_PAGOMATRICULAPROPIO,F_TIENECOMPUTADOR,F_TIENEINTERNET.1,F_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
0,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Si,Si,N,No,Si,Si,Postgrado,medio-alto,0.322,0.208,0.310,0.267
1,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Si,No,N,No,Si,No,Técnica o tecnológica incompleta,bajo,0.311,0.215,0.292,0.264
2,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Si,No,N,No,No,Si,Secundaria (Bachillerato) completa,bajo,0.297,0.214,0.305,0.264
3,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Si,No,N,No,Si,Si,Secundaria (Bachillerato) completa,alto,0.485,0.172,0.252,0.190
4,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Si,Si,N,No,Si,Si,Primaria completa,medio-bajo,0.316,0.232,0.285,0.294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692495,20195,BIOLOGIA,LA GUAJIRA,Entre 500 mil y menos de 1 millón,Entre 11 y 20 horas,Estrato 2,Si,Secundaria (Bachillerato) completa,Si,No,N,Si,Si,Si,Secundaria (Bachillerato) incompleta,medio-alto,0.237,0.271,0.271,0.311
692496,20212,PSICOLOGIA,NORTE SANTANDER,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Primaria incompleta,Si,No,N,No,Si,Si,Secundaria (Bachillerato) incompleta,bajo,0.314,0.240,0.278,0.260
692497,20183,ADMINISTRACIÓN EN SALUD OCUPACIONAL,BOGOTÁ,Entre 1 millón y menos de 2.5 millones,Menos de 10 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Si,No,N,Si,Si,Si,Secundaria (Bachillerato) incompleta,medio-bajo,0.286,0.240,0.314,0.287
692498,20195,PSICOLOGIA,TOLIMA,Entre 2.5 millones y menos de 4 millones,Menos de 10 horas,Estrato 1,No,Primaria completa,No,No,N,Si,Si,No,Primaria completa,bajo,0.132,0.426,0.261,0.328
692499,20195,PSICOLOGIA,ANTIOQUIA,Entre 5.5 millones y menos de 7 millones,Más de 30 horas,Estrato 4,Si,Secundaria (Bachillerato) completa,Si,Si,N,No,Si,Si,Técnica o tecnológica completa,alto,0.487,0.180,0.251,0.187

Procesar columna E_VALORMATRICULAUNIVERSIDAD

In [6]:
df.E_VALORMATRICULAUNIVERSIDAD.values[df.E_VALORMATRICULAUNIVERSIDAD.isna()] = 'no info'

In [7]:
cmap = {'Entre 1 millón y menos de 2.5 millones': 1.75,
 'Entre 2.5 millones y menos de 4 millones': 3.25,
 'Menos de 500 mil': .250,
 'Entre 500 mil y menos de 1 millón': .75,
 'Entre 4 millones y menos de 5.5 millones': 4.75,
 'Más de 7 millones': 7.75,
 'Entre 5.5 millones y menos de 7 millones': 6.25,
 'No pagó matrícula': 0,
 'no info': -1}

df.E_VALORMATRICULAUNIVERSIDAD = np.r_[[cmap[i] for i in df.E_VALORMATRICULAUNIVERSIDAD]]
df.E_VALORMATRICULAUNIVERSIDAD.value_counts()

E_VALORMATRICULAUNIVERSIDAD
 1.75    204048
 3.25    127430
 0.25     80263
 0.75     78704
 4.75     69736
 7.75     68014
 6.25     38490
 0.00     19528
-1.00      6287
Name: count, dtype: int64

Procesar F_EDUCACIONMADRE y F_EDUCACIONPADRE

In [8]:
df = df.copy()
df.F_EDUCACIONMADRE.values[df.F_EDUCACIONMADRE.isna()] = 'no info'
df.F_EDUCACIONMADRE = ['no info' if i in ['No sabe', 'No Aplica'] else i for i in df.F_EDUCACIONMADRE.values]

In [9]:
df = df.copy()
df.F_EDUCACIONPADRE.values[df.F_EDUCACIONPADRE.isna()] = 'no info'
df.F_EDUCACIONPADRE = ['no info' if i in ['No sabe', 'No Aplica'] else i for i in df.F_EDUCACIONPADRE.values]

In [10]:
df.F_EDUCACIONMADRE.value_counts()

F_EDUCACIONMADRE
Secundaria (Bachillerato) completa      141744
Primaria incompleta                      99420
Técnica o tecnológica completa           89542
Educación profesional completa           85326
Secundaria (Bachillerato) incompleta     81012
Primaria completa                        56125
Postgrado                                46246
no info                                  28599
Técnica o tecnológica incompleta         27533
Educación profesional incompleta         22470
Ninguno                                  14483
Name: count, dtype: int64

In [11]:
x = df.F_EDUCACIONMADRE.values
# x = x.astype(str)
F_EDUCACIONMADRE_vals = sorted(np.unique(x))
# F_EDUCACIONMADRE_vals.remove('nan')
F_EDUCACIONMADRE_onehot_vals = {val: np.eye(len(F_EDUCACIONMADRE_vals))[i] for i,val in enumerate(F_EDUCACIONMADRE_vals)}

In [12]:
y = df.F_EDUCACIONPADRE.values
# y = y.astype(str)
F_EDUCACIONPADRE_vals = sorted(np.unique(y))
# F_EDUCACIONPADRE_vals.remove('nan')
F_EDUCACIONPADRE_onehot_vals = {val: np.eye(len(F_EDUCACIONPADRE_vals))[i] for i,val in enumerate(F_EDUCACIONPADRE_vals)}
F_EDUCACIONPADRE_onehot_vals

{'Educación profesional completa': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'Educación profesional incompleta': array([0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'Ninguno': array([0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'Postgrado': array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.]),
 'Primaria completa': array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.]),
 'Primaria incompleta': array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.]),
 'Secundaria (Bachillerato) completa': array([0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.]),
 'Secundaria (Bachillerato) incompleta': array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.]),
 'Técnica o tecnológica completa': array([0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.]),
 'Técnica o tecnológica incompleta': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.]),
 'no info': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.])}

In [13]:
F_EDUCACIONMADRE_onehot_vals

{'Educación profesional completa': array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'Educación profesional incompleta': array([0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'Ninguno': array([0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'Postgrado': array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.]),
 'Primaria completa': array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.]),
 'Primaria incompleta': array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.]),
 'Secundaria (Bachillerato) completa': array([0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.]),
 'Secundaria (Bachillerato) incompleta': array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.]),
 'Técnica o tecnológica completa': array([0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.]),
 'Técnica o tecnológica incompleta': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.]),
 'no info': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.])}

In [14]:
F_EDUCACIONMADRE_onehot_enc = np.r_[[F_EDUCACIONMADRE_onehot_vals[i] for i in df.F_EDUCACIONMADRE]]
F_EDUCACIONPADRE_onehot_enc = np.r_[[F_EDUCACIONPADRE_onehot_vals[i] for i in df.F_EDUCACIONPADRE]]

F_EDUCACIONMADRE_df = pd.DataFrame(F_EDUCACIONMADRE_onehot_enc, columns=[f"F_EDUCACIONMADRE__{v}" for v in F_EDUCACIONMADRE_onehot_vals])
F_EDUCACIONPADRE_df = pd.DataFrame(F_EDUCACIONPADRE_onehot_enc, columns=[f"F_EDUCACIONPADRE__{v}" for v in F_EDUCACIONPADRE_onehot_vals])

In [15]:
df = pd.concat([F_EDUCACIONMADRE_df, df], axis=1).drop('F_EDUCACIONMADRE', axis=1)
df = pd.concat([F_EDUCACIONPADRE_df, df], axis=1).drop('F_EDUCACIONPADRE', axis=1)

In [16]:
from sklearn.preprocessing import LabelEncoder
le_academico = LabelEncoder()
le_departamento = LabelEncoder()

In [17]:
df.E_PRGM_ACADEMICO.values[df.E_PRGM_ACADEMICO.isna()] = 'no info'
df.E_PRGM_DEPARTAMENTO.values[df.E_PRGM_DEPARTAMENTO.isna()] = 'no info'

In [18]:
df['E_PRGM_ACADEMICO'] = le_academico.fit_transform(df['E_PRGM_ACADEMICO'])
df['E_PRGM_DEPARTAMENTO'] = le_departamento.fit_transform(df['E_PRGM_DEPARTAMENTO'])

In [19]:
df.E_HORASSEMANATRABAJA.value_counts()

E_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      116550
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
Name: count, dtype: int64

In [20]:
cmap = {'Más de 30 horas': 30,
 'Entre 11 y 20 horas': 15.5,
 'Entre 21 y 30 horas': 27.5,
 'Menos de 10 horas': 10,
        '0': 0,
  'no info': -1}

In [21]:
df.E_HORASSEMANATRABAJA.values

array(['Menos de 10 horas', '0', 'Más de 30 horas', ...,
       'Menos de 10 horas', 'Menos de 10 horas', 'Más de 30 horas'],
      dtype=object)

In [22]:
df.E_HORASSEMANATRABAJA.values[df.E_HORASSEMANATRABAJA.isna()] = 'no info'
df.E_HORASSEMANATRABAJA = np.r_[[cmap[i] for i in df.E_HORASSEMANATRABAJA]]
df.E_HORASSEMANATRABAJA.value_counts()

E_HORASSEMANATRABAJA
 30.0    249352
 0.0     116550
 15.5    115857
 27.5     92693
 10.0     87191
-1.0      30857
Name: count, dtype: int64

In [23]:
df.F_ESTRATOVIVIENDA.value_counts()

F_ESTRATOVIVIENDA
Estrato 2      232671
Estrato 3      210685
Estrato 1      111991
Estrato 4       65514
Estrato 5       23608
Estrato 6       12605
Sin Estrato      3289
Name: count, dtype: int64

In [24]:
cmap = {'Estrato 2': 2,
 'Estrato 3': 3,
 'Estrato 1': 1,
 'Estrato 4': 4,
 'Estrato 5': 5,
 'Estrato 6': 6,
  'Sin Estrato': -1, }

In [25]:
df.F_ESTRATOVIVIENDA.values[df.F_ESTRATOVIVIENDA.isna()] = 'Sin Estrato'
df.F_ESTRATOVIVIENDA = np.r_[[cmap[i] for i in df.F_ESTRATOVIVIENDA]]
df.F_ESTRATOVIVIENDA.value_counts()

F_ESTRATOVIVIENDA
 2    232671
 3    210685
 1    111991
 4     65514
-1     35426
 5     23608
 6     12605
Name: count, dtype: int64

In [26]:
df.F_TIENEINTERNET.values[df.F_TIENEINTERNET.isna()] = 'no info'
df.F_TIENEINTERNET.value_counts()

F_TIENEINTERNET
Si         592514
No          73357
no info     26629
Name: count, dtype: int64

In [27]:
cmap = {'Si': 1,
 'No': 0,
 'no info': -1}

In [28]:
df.F_TIENEINTERNET = np.r_[[cmap[i] for i in df.F_TIENEINTERNET]]
df.F_TIENEINTERNET.value_counts()

F_TIENEINTERNET
 1    592514
 0     73357
-1     26629
Name: count, dtype: int64

In [29]:
cmap = {'Si': 1,
 'No': 0,
 'no info': -1}
df.E_PAGOMATRICULAPROPIO.values[df.E_PAGOMATRICULAPROPIO.isna()] = 'no info'
df.E_PAGOMATRICULAPROPIO = np.r_[[cmap[i] for i in df.E_PAGOMATRICULAPROPIO]]
df.E_PAGOMATRICULAPROPIO.value_counts()

E_PAGOMATRICULAPROPIO
 0    382201
 1    303801
-1      6498
Name: count, dtype: int64

In [30]:
df.F_TIENEAUTOMOVIL.values[df.F_TIENEAUTOMOVIL.isna()] = 'no info'
df.F_TIENEAUTOMOVIL = np.r_[[cmap[i] for i in df.F_TIENEAUTOMOVIL]]
df.F_TIENEAUTOMOVIL.value_counts()

F_TIENEAUTOMOVIL
 0    412606
 1    236271
-1     43623
Name: count, dtype: int64

In [31]:
cmap = {'S': 1,
 'N': 0,
 'no info': -1}
df.E_PRIVADO_LIBERTAD.values[df.E_PRIVADO_LIBERTAD.isna()] = 'no info'
df.E_PRIVADO_LIBERTAD = np.r_[[cmap[i] for i in df.E_PRIVADO_LIBERTAD]]
df.E_PRIVADO_LIBERTAD.value_counts()

E_PRIVADO_LIBERTAD
0    692466
1        34
Name: count, dtype: int64

In [32]:
cmap = {'Si': 1,
 'No': 0,
 'no info': -1}
df.F_TIENECOMPUTADOR.values[df.F_TIENECOMPUTADOR.isna()] = 'no info'
df.F_TIENECOMPUTADOR = np.r_[[cmap[i] for i in df.F_TIENECOMPUTADOR]]
df.F_TIENECOMPUTADOR.value_counts()

F_TIENECOMPUTADOR
 1    597670
 0     56727
-1     38103
Name: count, dtype: int64

In [33]:
df

,F_EDUCACIONPADRE__Educación profesional completa,F_EDUCACIONPADRE__Educación profesional incompleta,F_EDUCACIONPADRE__Ninguno,F_EDUCACIONPADRE__Postgrado,F_EDUCACIONPADRE__Primaria completa,F_EDUCACIONPADRE__Primaria incompleta,F_EDUCACIONPADRE__Secundaria (Bachillerato) completa,F_EDUCACIONPADRE__Secundaria (Bachillerato) incompleta,F_EDUCACIONPADRE__Técnica o tecnológica completa,F_EDUCACIONPADRE__Técnica o tecnológica incompleta,...,F_TIENEAUTOMOVIL,E_PRIVADO_LIBERTAD,E_PAGOMATRICULAPROPIO,F_TIENECOMPUTADOR,F_TIENEINTERNET.1,RENDIMIENTO_GLOBAL,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,0,0,1,Si,medio-alto,0.322,0.208,0.310,0.267
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,1,No,bajo,0.311,0.215,0.292,0.264
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,Si,bajo,0.297,0.214,0.305,0.264
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,Si,alto,0.485,0.172,0.252,0.190
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,1,Si,medio-bajo,0.316,0.232,0.285,0.294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692495,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,1,1,Si,medio-alto,0.237,0.271,0.271,0.311
692496,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,1,Si,bajo,0.314,0.240,0.278,0.260
692497,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,1,1,Si,medio-bajo,0.286,0.240,0.314,0.287
692498,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,1,No,bajo,0.132,0.426,0.261,0.328
692499,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,1,Si,alto,0.487,0.180,0.251,0.187